* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  border-bottom-left-radius: 80px;
  background-color: #fff;
}

body {
  margin: 0;
  background-color: #e5e5e5;
}

header ul li,
.socials > li {
  list-style: none;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

header ul,
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 12px;
}

a {
  text-decoration: none;
}

.myLogo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-left: 24px;
  line-height: 20px;
  text-align: center;
}

header {
  background-color: #fff;
}

.toggler-icon {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 36px;
}

.font-style {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.main {
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
}

.main_heading,
.about-me-heading {
  padding-left: 24px;
  padding-top: 114px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #172b4d;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.description {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  margin-right: 36px;
  color: #344563;
  text-align: left;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7f8cff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.socials {
  width: 50%;
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_medias {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.snapshoot-style {
  height: 220px;
  border-radius: 8px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.card-header {
  margin-left: 40px;
  color: #172b4d;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

section .card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-description > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  width: 375px;
}

.programming-languages > li {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin-left: 12px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.languages li {
  list-style: none;
}

.card-description > ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card-list-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: 40px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  list-style-type: none;
}

.Job-title_and_year {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.notice {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-left: 40px;
  padding-right: 16px;
}

.first-card {
  margin-top: 114px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.cards {
  margin-top: 15px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 88px;
}

.programming-languages {
  margin-left: 0;
  padding-left: 26px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-button,
.resume-button {
  background-color: #fff;
  color: #6070ff;
  font-weight: 500;
  margin-top: 20px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.about-me {
  background: #fff;
  margin-top: 88px;
  border-top-right-radius: 80px;
}

.resume-button {
  margin-left: 24px;
}

.project-button {
  margin-left: 40px;
}

/* new line */

.btn:hover {
  cursor: pointer;
  background-color: #6070ff;
  color: #fff;
}

.languages {
  margin-top: 30px;
}

.languages h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}

.languages .vector {
  cursor: pointer;
  width: 20px;
  height: 11px;
}

.languages-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.languages a {
  text-decoration: none;
  color: #000;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f7f9;
  padding: 10px;
  margin-bottom: 15px;
}

.language img {
  width: 48px;
  height: 48px;
}

.language-text {
  margin-left: 12px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.language h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.frameworks {
  margin-top: 30px;
}

.frameworks h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.frameworks .vector {
  cursor: pointer;
  width: 20px;
  height: 11px;
}

.framework-list {
  margin-bottom: 10px;
  padding: 14px;
  border-bottom: 1px solid #dfe1e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("images/background-2.png");
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

form {
  width: 100%;
}

.form-fieldset {
  border: none;
  margin-right: 0.9375rem;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6.4375rem 1.5rem 0 1.5rem;
  background-image: url("images/background-1.png");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-wrapper h2 {
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 0.75rem;
}

.contact-description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ebebff;
  width: 100%;
  padding: 0.7rem;
}

.contact-wrapper input {
  background-color: #fff;
  width: 100%;
  height: 3rem;
}

.contact-wrapper input[type="text"] {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

.contact-wrapper input[type="email"] {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

.contact-wrapper input::-webkit-input-placeholder {
  color: #172b4e;
}

.contact-wrapper input::-moz-placeholder {
  color: #172b4e;
}

.contact-wrapper input::-ms-input-placeholder {
  color: #172b4e;
}

.contact-wrapper input:-ms-input-placeholder {
  color: #172b4e;
}

.contact-wrapper input::placeholder {
  color: #172b4e;
}

.contact-button {
  background-color: #fff;
  color: #6070ff;
  font-weight: 500;
  font-size: 1.0625rem;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 0.75rem 1rem;
}

.contact-wrapper textarea {
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

#message {
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #dfdbdc;
}

#message::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.contact-button:hover {
  background-color: #6070ff;
  color: white;
}
